html {
    font-size: 100%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    height: 100vh;
    background-image: url('../assets/ibrahim-boran-r0zrjWheW2g-unsplash\ \(1\).jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-flow: column;
    align-items: center;
}

header {
    width: 100vw;
    height: 80px;
    background-color: #3D597D;
}

main {
    background-color: #E4DBD3;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: fit-content;
    margin-top: 10rem;
    padding: 2rem;
    border: #3D597D;
    border-style: solid;
}

h1 {
    text-align: center;
    padding: 20px;
    color: #E4DBD3;
}

input {
    border-radius: 0.1rem;
    border-color: #3D597D;
    margin-top: 0.1rem
}

select {
    width: 100%;
    margin: 0.5rem;
}

button {
    background-color: #3D597D;
    color: #E4DBD3;
    padding: 0.5rem;
    border-radius: 0.1rem;
    border-style: none;
    margin: 1rem;
}

#result {
    padding: 1rem;
}

footer {
    width: 100vw;
    height: 80px;
    background-color: #3D597D;
    margin-top: auto;
}